<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>算法</h1>
     <!-- paragraph -->
     
    <p>
        在本页面，你可以挑选下列算法处理实验数据，生成分析结果————
    </p>>

    <ul>
        <li><a href="{% url 'suv' %}" target="_blank">支持向量机</a></li>
        <li><a href="{% url 'forest' %}">随机森林</a></li>
    </ul>
</body>
</html>